* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --titleFont: "Figtree", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bodyFont: "Quicksand", "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #211e21;
    color: #fff;
    font-family: var(--bodyFont);
    text-transform: uppercase;
}

body.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    pointer-events: none;
}

/* HEADER STYLES */

body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--titleFont);
    font-size: 1rem;
    padding: 3rem 3rem 0;
    position: relative;
}

/* NAV LOGO STYLES */

body header a img {
    max-width: 100%;
    width: 30px;
    height: auto;
    flex: 0 0 auto;
}
