* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --titleFont: "Figtree", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bodyFont: "Quicksand", "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #211e21;
    color: #fff;
    font-family: var(--bodyFont);
    text-transform: uppercase;
}

body.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    pointer-events: none;
}

/* HEADER STYLES */

body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--titleFont);
    font-size: 1rem;
    padding: 3rem 3rem 0;
    position: relative;
}

/* NAV LOGO STYLES */

body header a img {
    max-width: 100%;
    width: 30px;
    height: auto;
    flex: 0 0 auto;
}

/* HAMBURGER MENU STYLES */

#hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 2rem;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-left: auto;
    position: relative;
}

#hamburger span {
    height: 3px;
    width: 100%;
    background-color: #9caf89;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

#hamburger span:nth-child(1) {
    top: 25%;
}

#hamburger span:nth-child(3) {
    top: 75%;
}

/* HAMBURGER ICON ANIMATION STYLES */

#hamburger.active span {
    background-color: #211e21;
    transition: 0.3s ease;
}

#hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#hamburger.active span:nth-child(2) {
    opacity: 0;
}

#hamburger.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* NAVIGATION STYLES */

nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 2rem;
    justify-content: center;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: #9caf89;
    align-items: center;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    transform: translateX(100%);
}

nav ul#navMenu.active {
    transform: translateX(0);
}

nav ul li {
    margin: .5rem 0;
}

a.cta-btn {
    display: none;
}

nav ul li a {
    position: relative;
    color: #211e21;
    font-weight: bold;
    font-size: 1.75rem;
    text-align: left;
}

nav ul li a:hover {
    color: rgba(33, 30, 33, 0.7);
}
